.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: deepskyblue;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #1565C0;
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

  .flex-container {
    /* We first create a flex layout context */
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
     
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .flex-item {
    background: silver;
    margin: 5px;
    padding: 5px;
    width: 150px;
    height: 200px;
    margin-top: 10px;
    /* line-height: 150px;
    color: white;
    font-weight: bold; */
    /* font-size: 3em;*/
    text-align: center; 
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  h1 {
      text-align: center;
  }